@charset "utf-8";

div.quadrado{
    border: 1px solid #000000;
    width: 300px;
    height: 300px;
    display:inline-block;
    border-radius: 10px;
    background-color: lightgrey;
}



div#q3{
   background-image: url(imagens/pattern001.png); 
}