@charset "utf-8";

div.quadrado{
    border: 1px solid #000000;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    background-image: url("imagens/wallpaper002.jpg");
}

div#q1{
    background-position: left top ;
}

div#q2{
    background-position: left center ;
}

div#q3{
    background-position: right bottom ;
}

div#q4{
    background-position: center center ;
}

